.cardCol{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
}
@media screen and (max-width:689px){
    .cardCol{
        grid-template-columns: 1fr ;
        grid-gap:10px;
        
    }
}